html{
    overflow-x: hidden;
    max-width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@font-face {
    font-family: 'digital-7';
    src: url('font/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#title{
    display: flex;
    align-items: center;
    gap: 5%;
}

img{
    height: 5em;
}

#calculator{
    background-image: url(img/calculatrice.png);
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1260/2216;
    width: clamp(310px, 90vw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display{
    margin-top: 32.4%;
    margin-bottom: 0%;
    width: 64%;
    height: 7%;
    text-align: right;
    background-color: #696f61;
    color: #212223;
    font: normal 270% 'digital-7';
    border-radius: 15%;
}

button{
    background-color: transparent;
    border-radius: 17%;
    border-color: transparent;
    color: transparent;
}

button:hover{
    border-color: buttonborder;
}

#controls{
    display: flex;
    align-items: flex-end;
    gap: 5%;
    margin-top: 20.4%;
    width: 80%;
    height: 10%;
}

#ON_CE{
    width: 21%;
    height: 101%;
    border-radius: 49%;
}

#MRC, #M_minus, #M_plus{
    width: 22%;
    height: 46%;
    border-radius: 40%;
}

#operations{
    display: flex;
    margin-top: 5.6%;
    width: 80%;
    height: 45%;
    gap: 6%;
}

#left button{
    width:28%;
    height:16%;
}

#left{
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    gap: 4.3% 7.85%;
}

#right{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 4.5%;
}

#right button{
    width:98%;
    height:16%;
}

#add{
    flex: 2;
}